<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dianCan.vo.detail.mapper">


	<select id="listByOrderId" parameterType="int" resultMap="DetailMenu">
		select * from t_orderdetail where orderId=#{orderId}
	</select>
	
	<resultMap id="DetailMenu"  type="dianCan.vo.Detail" >
		<association property="menu" column="menuId" javaType="dianCan.vo.Menu" select="dianCan.vo.menu.mapper.getById"/>
	</resultMap>
	
	<delete id="delete" parameterType="int">
		delete from t_orderdetail where id=#{id}
	</delete>
	
</mapper>