<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
  
  
  
    <bean id="userService" class="SpringAOPUseAdviceInterface.service.UserServiceImpl"/>
   
    <bean id="beforeLog" class="SpringAOPUseAdviceInterface.log.BeforeLog"/>
    <bean id="afterLog" class="SpringAOPUseAdviceInterface.log.AfterLog"/>
    <bean id="exceptionLog" class="SpringAOPUseAdviceInterface.log.ExceptionLog"/>
  
    <aop:config>
    	<aop:pointcut expression="execution(* SpringAOPUseAdviceInterface.service.*.*(..))" id="pointcut"/>
    	<aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>
    	<aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    	<aop:advisor advice-ref="exceptionLog" pointcut-ref="pointcut"/>
    </aop:config>
    
    
    
</beans>