<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	
	<bean id="userService" class="SpringAOPUseMyClassAnnotation.UserServiceImpl"/>
	
	<bean id="log" class="SpringAOPUseMyClassAnnotation.Log"/>
	
	
	<!-- 配置自动扫描，包含@Aspect注解的类 -->
	<aop:aspectj-autoproxy/>
	
</beans>