<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
  	
  	
    <bean id="mysqlDao" class="autoWiringInXML.UserDaoMySqlImpl"/>
  	<bean id="userDao" class="autoWiringInXML.UserDaoOracleImpl"/>
  	
  	<!-- autowire自动装配  简化spring配置
  		no不使用自动装配
  		byName 根据名称(set方法名来的)去查找相应的bean，如果有则装配上
  		byType 根据类型进行自动装配  不用管bean的id.但是同一种类型的bean只能有一个。建议慎用
  		constructor 当通过构造器 注入 实例化bean时 适用byType的方式 装配构造方法
  	 -->
  	<bean id="service" class="autoWiringInXML.UserServiceImpl" autowire="byName"/>
</beans>